.container{
    display: flex;
    align-items: flex-end;
}
.container div{
    border: 2px #ccc solid;
    padding: 15px;
    
}


.item1{
    flex: 3;
    order: 1;
    background-color: blueviolet;
    align-self: flex-start;
    
}

.item2{
    flex: 1;
    order: 3;
    background-color: rgb(33, 71, 153);
    
}

.item3{
    flex: 2;
    order: 2;
    background-color: rgb(33, 122, 11);
}

.item4{
    flex: 4;
    order: 4;
    background-color: rgb(173, 29, 24);
}